@import "styles/theme";

:local .Sidenav {
  @media screen and (max-width: $bp-large-width - 1) {
    display: none;
  }

  min-width: 12.5em;
  max-width: 12.5em;
  background-color: $primary-color;

  font-size: 0.8rem;
  font-variant: small-caps;
  font-weight: 200;

  overflow-y: scroll;
  overflow-x: clip;

  .Navigations {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1em;

    justify-content: space-around;
  }
}