@import "styles/theme";

:local .Table {
  min-width: 100%;
  th, td {
    padding: 1ex 0.5em;
  }
  thead {
    background-color: $secondary-color;
    max-height: 10ex;
    overflow: scroll;
  }

  tbody {
    tr:nth-child(even) {
      background-color: $contrast-background-color;
    }
  }
}