@import "styles/theme";

:local .ActionButton {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  color: white;
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;

  border: outset 1pt $secondary-color;
  border-radius: 0.5em;

  margin: 0.5ex 0;
  padding: 0.5ex 0.5em;

  cursor: pointer;

  img {
    margin-bottom: 0.5ex;
    height: 8ex;
  }

  &:hover {
    background-color: $secondary-color;
  }

  div {
    padding: 0 0.25em;
  }
}
