@import "styles/theme";

:local .ActionPanel {
  display: flex;
  flex-direction: column;
  flex: 0 0 18em;
  min-height: 15em;

  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;
  border: 1pt solid black;
  border-radius: 0.5em;
  margin: 1ex 0.5em;
  padding: 1ex 0.5em;
  cursor: pointer;

  h3 {
    color: black;
    text-align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
    font-weight: bold;
  }

  img {
    background-color: $primary-color;
    margin-bottom: 0.5ex;
    height: 8em;
  }

  div {
    text-align: center;
    padding: 0 1em;
  }

  &:hover {
    img {
      background-color: $secondary-color;
    }
  }
}
