@import "../../styles/theme.scss";

.AppLogo {

  @media screen {
    height: 48px;
    flex-basis: 48px;  
  }


  @media screen
    and (min-width: $bp-medium-width) 
    and (min-height: $bp-medium-height) {
      height: 64px;
      flex-basis: 64px;
  }

  @media screen 
    and (min-width: $bp-large-width) 
    and (min-height: $bp-large-height) {
      height: 96px;
      flex-basis: 96px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  flex: 0 1;
  align-self: flex-start;
  margin: auto 0;
}

