@import "../../styles/theme.scss";

.Header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1pt solid $secondary-color;

  padding: 4px;

  titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
    align-self: flex-start;
  }

  user-actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    align-self: flex-end;
  }
}