@import "styles/theme";

:local .Table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  th, td {
    padding: 0.5ex 0.5em;
    border: solid 1pt black;
  }
  :global thead {
    background-color: $secondary-color;
    max-height: 10ex;
    overflow: scroll;
    font-weight: bold;

    td {
      &.clickable {
        cursor: pointer;
      }
    }

    .sort-direction {
      // height: 0;
      // width: 0;
      // border-left: 5px solid transparent;
      // border-right: 5px solid transparent;
      float: right;
      width: 1em;
      // margin: 10px;

      &.asc:before {
        content: "▼";
      }

      &.desc:before {
        // border-top: 5px solid black;
        content: "▲";
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $contrast-background-color;
    }
  }
}
