@import "styles/theme";

:local .Panchayat, :local .Stats {
    border: 1pt solid black;
    padding: 0.5ex 0.5em;
}

:local .Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    h1,h2,h3 {
        margin: 1ex 1em;
    }
}

:local .Detail {
    flex: 0% 1 1;
    @media screen and (max-width: $bp-medium-width - 1) {
        flex-basis: 100%;
    }
}
:local .FTable {
    display: flex;
    flex-direction: row;
    &> :first-child {
        flex: 90% 0 0;
    }
}

:local .Map {
    border: 1pt solid black;
    flex: 0% 1 1;
    padding: 1ex 1em;
    min-height: 40ex;

    @media screen and (max-width: $bp-medium-width - 1) {
        flex-basis: 100%;
    }
}

:local .Column {
    padding: 2ex 1em;
    border: 1pt solid black;
    p:first-child {
        margin: 0 -1em;
        padding: 1em;
        border-bottom: 1pt solid black;        
    }
}