@import "styles/theme";

.App {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(60deg); }
}
