@import "styles/theme";

.Topbar {
  background-color: $secondary-color;
  color: white;

  display: flex;

  .title {
    flex-grow: 2;
  }

  .actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 1em;
    margin-right: 1em;
    &> * {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}